/* Pagination
-------------------------------------------------------------- */
.navigation {
	width: auto;
    display: table;
	margin: 10px auto 30px auto;
	clear: both;

	& ul {
		margin: 0;
		padding: 0;
	}

	& li {
		margin: 10px 0 0 0;
		display: inline-block;
		list-style: none;
	}
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}
 
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	background-color: $color__mhn-dark-blue;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
	@include transition(.3s ease all);
    display: block;
}
 
.navigation li a:hover,
.navigation li.active a {
	background-color: $color__mhn-bright-blue;
}