.template-index {
  #slider,#carousel {
    .flex-next,.flex-prev {
      display: none;
    }
  }
  >.row-1 {
    position: relative;
    #slider {
      width: 100%;
      ul.slides {
        width: 100%;
        padding: 0;
        margin: 0;
        li {
          position: relative;
          img {
            display: block;
            width: 150%;
            height: auto;
            max-width: 200%;
            @media screen and (min-width: 750px) {
              width: 100%;
              height: auto;
            }
          }
          .info {
            padding: 15px 25px;
            @media screen and (min-width: $tabwidth) {
              @include border-radius(10px);
              background-color: rgba(255, 255, 255, 0.8);
              position: absolute;
              top: 50%;
              left: 10%;
              width: 50%;
              height: auto;
              padding: 25px 30px;
              @include translateY(-50%);
            }
            header {
              margin: 0 0 8px 0;
              > .wrapper {
                display: inline-block;
                &:after {
                  display: block;
                  content: "";
                  height: 0px;
                  width: 100%;
                  border: 1px solid $color__mhn-bright-blue;
                  @include border-radius(1px);
                }
                h2 {
                  line-height: 1.5;
                  margin: 0;
                  font-size: 30px;
                  padding: 0 20px 0 2px;
                  color: $color__text-main;
                  @media screen and (min-width: $tabwidth) {
                    font-size: 25px;
                  }
                  @media screen and (min-width: 700px) {
                    font-size: 30px;
                  }
                }
              }
            }
            .copy {
            }
          }
        }
      }
    }
    #carousel {
      @media screen and (min-width: $tabwidth) {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        height: 100%;
        width: 30%;
      }
      @media screen and (min-width: 800px) {
        width: 25%;
      }
      @media screen and (min-width: 1100px) {
        width: 18%;
      }
      ul.slides {
        height: 100%;
        @include flexbox;
        @include flexbox-align-content(stretch);
        @include flexbox-align-items(stretch);
        @include flexbox-justify(center);
        @include flexbox-wrap(nowrap);
        @include flex-direction(column);
        li {
          @include flexbox-flex(1,1,auto);
          color: white;
          @media screen and (min-width: $tabwidth) {
            @include flexbox;
            @include flexbox-align-content(stretch);
            @include flexbox-align-items(stretch);
            @include flexbox-justify(center);
            @include flexbox-wrap(nowrap);
            @include flex-direction(column);
          }
          &:hover,&.active {
            background-color: $color__mhn-bright-blue;
            border-top: 1px dashed grey;
            >.wrapper {
              border-top: none;
              background-color: $color__mhn-bright-blue;
            }
          }
          &:first-child {
            border-top: none;
            >.wrapper {
              border-top: none;
            }
          }
          >.wrapper {
            padding: 20px;
            width: 100%;
            margin: 0 0 0 15px;
            background-color: $color__mhn-dark-blue;
            border-top: 1px dashed grey;
            @media screen and (min-width: $tabwidth) {
              @include flexbox-flex(1,1,auto);
              @include flexbox;
              @include flexbox-align-content(center);
              @include flexbox-align-items(center);
              @include flexbox-justify(center);
              @include flexbox-wrap(nowrap);
              @include flex-direction(column);
              padding: 0;
            }
            span {
              display: block;
              width: 70%;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  >.row-2 {
    padding: 20px;
    background-color: $color__mhn-grey;
    @media screen and (min-width: $tabwidth) {
      padding: 7% 9% 40px 9%;
    }
    > .row-1 {
      text-align: center;
      margin: 0 auto;
      width: 90%;
      @media screen and (min-width: $tinywidth) {
        width: 80%;
      }
      @media screen and (min-width: $tabwidth) {
        width: 60%;
      }
      @media screen and (min-width: 1200px) {
        width: 50%;
      }
      header {
        margin: 0 0 10px 0;
        &:after {
          display: block;
          content: "";
          height: 0px;
          width: 60px;
          margin: 5px auto 0 auto;
          border: 2px solid $color__mhn-bright-blue;
          @include border-radius(2px);
        }
        h1 {
          font-size: 22px;
          font-weight: 300;
          margin: 0;
        }
      }
      .copy {

      }
    }
  }
  >.row-3 {
      margin: 0;
      background-color: $color__mhn-grey;
      padding: 0 20px 20px 20px;
      width: 100%;
      @media screen and (min-width: $tabwidth) {
        margin: 0 auto 0 auto;
        display: table;
        padding: 0 8% 7% 8%;
      }
      .logo {
        display: block;
        width: 90%;
        margin: 10px auto 0 auto;
        background-position: center;
        background-size: 80% auto;
        background-repeat: no-repeat;
        transition: background-size .1s linear;
        @media screen and (min-width: $tabwidth) {
          width: 50%;
          float: left;
        }
        @media screen and (min-width: 900px) {
          width: 25%;
        }
        &:first-child {
          margin: 0 auto;
          @media screen and (min-width: $tabwidth) {
            margin: 10px auto 0 auto;
          }
        }
        &:hover {
          background-size: 90% auto;
        }
        a {
          display: block;
        }
          img {
            display: block;
            width: 100%;
            opacity: 0;
          }
    }
  }
  >.row-4 {
    .column-1, .column-2, .column-3 {
      position: relative;
      margin: 0;
      color: white;
      width: 100%;
      overflow: hidden;
      @media screen and (min-width: $tabwidth) {
        float: left;
        width: (1/3)*100%;
      }
      &:hover {
        a {
          img {
            opacity: 0.85;
          }
        }
      }
      a {
        display: block;
        color: inherit;
        text-decoration: none;
      }
      img {
        width: 100%;
        display: block;
      }
      .info {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: auto;
        left: 0;
        bottom: 0;
        padding: 0 10px 10px 10px;
        @media screen and (min-width: 350px) {
          padding:  0 30px 20px 30px;
        }
        @media screen and (min-width: $tabwidth) {
          padding: 0 10px 10px 10px;
        }
        @media screen and (min-width: 800px) {
          padding: 0 20px 20px 20px;
        }
        @media screen and (min-width: 900px) {
          padding:  0 30px 20px 30px;
        }
        header {
          &:after {
            display: block;
            content: "";
            height: 0px;
            width: 60px;
            margin: 3px auto 0 0;
            border: 2px solid $color__mhn-bright-blue;
            @include border-radius(2px);
          }
          h2 {
            margin: 0;
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            color: white;
            @media screen and (min-width: 350px) {
              font-size: 14px;
            }
            @media screen and (min-width: $tabwidth) {
              font-size: 12px;
            }
            @media screen and (min-width: 1100px) {
              font-size: 14px;
            }
          }
        }
        .copy {
          font-weight: 500;
          font-size: 18px;
          margin: 10px 0 0 0;
          @media screen and (min-width: 350px) {
            margin: 20px 0 0 0;
            font-size: 22px;
          }
          @media screen and (min-width: $tabwidth) {
            font-size: 14px;
            margin: 5px 0 0 0;
          }
          @media screen and (min-width: 700px) {
            margin: 10px 0 0 0;
            font-size: 16px;
          }
          @media screen and (min-width: 1100px) {
            margin: 20px 0 0 0;
            font-size: 22px;
          }
        }
        .link {
          margin: 10px 0 0 0;
          text-transform: uppercase;
          font-size: 14px;
          @media screen and (min-width: 350px) {
            font-size: 16px;
            margin: 20px 0 0 0;
          }
          @media screen and (min-width: $tabwidth) {
            font-size: 12px;
            margin: 5px 0 0 0;
          }
          @media screen and (min-width: 1100px) {
            font-size: 16px;
            margin: 20px 0 0 0;
          }
        }
      }
    }
  }
}
.template-sites, .template-page, .template-news,
.template-news-single, .template-leadership, .template-contact, .error-404 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  @media screen and (min-width: $tabwidth) {
    padding: 40px 15%;
  }
  > header {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    @media screen and (min-width: $tabwidth) {
      margin: 0 0 40px 0;
    }
    > .wrapper {
      display: inline-block;
      &:before, &:after {
        display: block;
        content: "";
        height: 0;
        width: 100%;
        border: 2px solid $color__mhn-bright-blue;
        @include border-radius(2px);
      }
      h1 {
        margin: 0;
        padding: 0 8px 0 2px;
        line-height: 1.7;
        font-size: 24px;
        @media screen and (min-width: $tabwidth) {
          font-size: 34px;
        }
      }
    }
  }
}
.template-contact {
  >.row-2 {
    @include flexbox;
    @include flexbox-align-content(flex-start);
    @include flexbox-align-items(flex-start);
    @include flexbox-justify(center);
    @include flexbox-wrap(nowrap);
    @include flexbox-direction(column);
    @media screen and (min-width: $midwidth) {
      @include flexbox-direction(row);
    }
    >.column-1 {
      @include flexbox-flex(0,1,auto);
      width: 100%;
      @media screen and (min-width: $midwidth) {
        width: 55%;
        margin-right: 5%;
      }
      .infusion-field {
        width: 100%;
        padding: 5px;
        @media screen and (min-width: $tinywidth) {
          width: 50%;
          float: left;
        }
        * {
          max-width: 100%;
        }
      }
      .infusion-submit {
        width: 100%;
        input {
          width: 100%;
          border: none;
          border-radius: 5px;
          background-color: $color__mhn-bright-blue;
          font-size: 18px;
          color: white;
          text-align: center;
          box-shadow: none;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
    >.column-2 {
      @include flexbox-flex(0,1,auto);
      width: 100%;
      @media screen and (min-width: $midwidth) {
        width: 40%;
      }
      >.wrapper {
        @include flexbox;
        @include flexbox-align-content(flex-start);
        @include flexbox-align-items(flex-start);
        @include flexbox-justify(flex-start);
        @include flexbox-wrap(nowrap);
        @include flexbox-direction(column);
        @media screen and (min-width: $tabwidth) {
          @include flexbox-direction(row);
          @include flexbox-justify(space-between);
          @include flexbox-align-content(stretch);
          @include flexbox-align-items(stretch);
        }
        @media screen and (min-width: $midwidth) {
          @include flexbox-direction(column);
          @include flexbox-justify(center);
        }
        .row-1, .row-2, .row-3 {
          margin: 20px 0 0 0;
          @include flexbox-flex(0,1,auto);
          @include flexbox;
          @include flexbox-align-content(stretch);
          @include flexbox-align-items(stretch);
          @include flexbox-justify(center);
          @include flexbox-wrap(nowrap);
          @include flexbox-direction(column);
          @media screen and (min-width: $tabwidth) {
            width: 1/3*96%;
            margin: 0;
          }
          @media screen and (min-width: $midwidth) {
            float: none;
            width: 100%;
            @include flexbox-direction(row);
            margin: 20px 0 0 0;
          }
          &:first-child {
            @media screen and (min-width: $tabwidth) {
              margin-top: 0;
              margin-left: 0;
            }
          }
          >.column-1 {
            @include flexbox-flex(0,1,auto);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            @media screen and (min-width: $midwidth) {
              background-image: none;
              width: 40%;
            }
            img {
              width: 100%;
              display: block;
              @media screen and (min-width: $midwidth) {
                opacity: 0;
              }
            }
          }
          >.column-2 {
            @include flexbox-flex(1,1,auto);
            color: white;
            background-color: $color__mhn-bright-blue;
            @include flexbox;
            @include flexbox-align-content(flex-start);
            @include flexbox-align-items(flex-start);
            @include flexbox-justify(flex-start);
            @include flexbox-wrap(nowrap);
            @include flexbox-direction(column);
            @media screen and (min-width: $midwidth) {
              width: 60%;
            }
            >.wrapper {
              @include flexbox-flex(1,1,auto);
              padding: 15px;
              h2 {
                color: inherit;
                font-size: 18px;
              }
              .address {
                font-size: 15px;
                margin-bottom: 20px;
                @media screen and (min-width: $tabwidth) {
                  font-size: 13px;
                }
                @media screen and (min-width: $midwidth) {
                  font-size: 15px;
                }
              }
              .directions {
                margin-bottom: 5px;
                font-size: 13px;
                @media screen and (min-width: $tabwidth) {
                  font-size: 12px;
                }
                @media screen and (min-width: $midwidth) {
                  font-size: 13px;
                }
                a {
                  text-decoration: underline;
                  color: inherit;
                }
              }
              .email {
                margin-bottom: 5px;
                font-size: 13px;
                word-break: break-all;
                @media screen and (min-width: $tabwidth) {
                  font-size: 12px;
                }
                @media screen and (min-width: $midwidth) {
                  font-size: 13px;
                }
                a {
                  text-decoration: underline;
                  color: inherit;
                }
              }
              .phone {
                font-size: 13px;
                @media screen and (min-width: $tabwidth) {
                  font-size: 12px;
                }
                @media screen and (min-width: $midwidth) {
                  font-size: 13px;
                }
                a {
                  color: white;
                  text-decoration: underline;
                }
              }
            }
            .link {
              @include flexbox-align-self(flex-end);
              @include flexbox-flex(0,1,auto);
              width: 100%;
              padding: 15px;
              font-size: 13px;
              background-color: $color__mhn-dark-blue;
              @media screen and (min-width: $midwidth) {
                font-size: 15px;
              }
              a {
                text-decoration: underline;
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}
.template-leadership {
  >.row-2, >.row-3 {
    header {
      h2 {
        margin: 0;
      }
    }
    > .wrapper {
      width: 100%;
      .leader {
        width: 100%;
        margin: 20px 0 0 0;
        @media screen and (min-width: 350px) {
          margin: 1.5% 1.5% 0 0;
          width: 1/2*98.5%;
          float: left;
        }
        @media screen and (min-width: 900px) {
          width: 1/4*95.5%;
          margin: 1.5% 1.5% 0 0;
        }
        &:nth-child(even) {
          @media screen and (min-width: 350px) {
            margin: 1.5% 0 0 0;
          }
          @media screen and (min-width: 900px) {
            margin: 1.5% 1.5% 0 0;
          }
        }
        &.count-4 {
          @media screen and (min-width: 900px) {
            margin: 1.5% 0 0 0;
          }
        }
        > .wrapper {
          position: relative;
          @media screen and (min-width: $tabwidth) {
            @include flexbox;
            @include flexbox-align-content(stretch);
            @include flexbox-align-items(stretch);
            @include flexbox-justify(flex-start);
            @include flexbox-wrap(nowrap);
            @include flexbox-direction(column);
            width: 100%;
            height: 100%;
          }
          img {
            width: 100%;
            display: block;
            @media screen and (min-width: $tabwidth) {
              @include flexbox-flex(0, 0, auto);
            }
          }
          .info {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            color: white;
            background-color: $color__mhn-bright-blue;
            @include flexbox-align-content(stretch);
            @include flexbox-align-items(stretch);
            @include flexbox-justify(flex-start);
            @include flexbox-wrap(nowrap);
            @include flexbox-direction(column);
            font-size: 19px;
            overflow: auto;
            @media screen and (min-width: 350px) {
              font-size: 17px;
            }
            @media screen and (min-width: $tabwidth) {
              @include flexbox-flex(1, 1, auto);
              position: static;
              display: block;
              padding: 10px 20px;
              height: auto;
              font-size: 15px;
              overflow: hidden;
            }
            &.toggled-on {
              @include flexbox;
            }
            > .wrapper {
              @include flexbox-flex(0, 1, auto);
              margin: 0 0 auto 0;
              width: 100%;
              padding: 20px 20px 0 20px;
              @media screen and (min-width: $tabwidth) {
                margin: 0;
                padding: 0;
              }
              header {
                h3 {
                  font-size: inherit;
                }
              }
              .title {
              }
              .phone {
                a {
                  color: white;
                  text-decoration: underline;
                }
              }
              .email {
                font-size: 25px;
                @media screen and (min-width: $tabwidth) {
                  font-size: inherit;
                }
                a {
                  color: inherit;
                  text-decoration: none;
                  i {

                  }
                }
              }
            }
            .close {
              @include flexbox-flex(0, 0, auto);
              @include flexbox-align-self(flex-end);
              padding: 0 10px 5px 10px;
              font-size: 25px;
              cursor: pointer;
              @media screen and (min-width: $tabwidth) {
                display: none;
              }
              i {

              }
            }
          }
          .open {
            background-color: $color__mhn-bright-blue;
            padding: 5px 10px;
            font-size: 25px;
            color: white;
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            cursor: pointer;
            @media screen and (min-width: $tabwidth) {
              display: none;
            }
            i {

            }
          }
        }
      }
    }
    .pagination {

    }
  }
  >.row-4,  >.row-5 {
      margin: 20px 0 0 0;
      @media screen and (min-width: $tabwidth) {
        margin: 40px 0 20px 0;
      }
      header {
        margin-bottom: 20px;
        h2 {

        }
      }
      >.wrapper {
        .technology, .agency {
          width: 100%;
          margin: 20px 0 0 0;
          background-position: center;
          background-size: 90% auto;
          background-repeat: no-repeat;
          transition: background-size .1s linear;
          @media screen and (min-width: 350px) {
            margin: 1.5% 1.5% 0 0;
            width: 1/2*98.5%;
            float: left;
          }
          @media screen and (min-width: 900px) {
            width: 1/4*95.5%;
            margin: 1.5% 1.5% 0 0;
          }
          &:nth-child(even){
            @media screen and (min-width: 350px) {
              margin: 1.5% 0 0 0;
            }
            @media screen and (min-width: 900px) {
              margin: 1.5% 1.5% 0 0;
            }
          }
          &.count-4 {
            @media screen and (min-width: 900px) {
              margin: 1.5% 0 0 0;
            }
          }
          &:hover {
            background-size: 100% auto;
          }
          a {
            display: block;
            color: inherit;
            text-decoration: none;
          }
          img {
            display: block;
            opacity: 0;
          }
        }
      }
    }
}
.template-news {
  >.row-2 {
    >.wrapper {
      .news {
        margin: 20px 0 0 0;
        width: 100%;
        @media screen and (min-width: $tabwidth) {
          width: (1/3)*97%;
          float: left;
          margin: 1.5% 1.5% 0 0;
        }
        &:first-child {
          margin: 15px 0 0 0;
          @media screen and (min-width: $tabwidth) {
            margin: 1.5% 1.5% 0 0;
          }
        }
        &.count-2 {
          @media screen and (min-width: $tabwidth) {
            margin-right: 0;
          }
        }
        a {
          display: block;
          text-decoration: none;
          color: inherit;
          img {
            width: 100%;
            display: block;
          }
          header {
            margin-top: 5px;
            h2 {
              margin: 0;
              font-size: 16px;
              text-transform: capitalize;
              color: $color__mhn-bright-blue;
              @media screen and (min-width: 350px) {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .pagination {

    }
  }
}
.template-news-single {
  >.row-2 {
    .column-1 {
      @media screen and (min-width: $tabwidth) {
        width: 60%;
        float: left;
        padding: 0 30px 0 0;
      }
      @media screen and (min-width: 900px) {
        width: 70%;
        padding: 0 40px 0 0;
      }
    }
    .column-2 {
      background-color: $color__mhn-grey;
      padding: 30px 25px 50px 25px;
      @media screen and (min-width: $tabwidth) {
        width: 40%;
        float: left;
      }
      @media screen and (min-width: 900px) {
        width: 30%;
      }
      > header {
        > .wrapper {
          display: inline-block;
          &:after {
            display: block;
            content: "";
            height: 0;
            width: 100%;
            border: 2px solid $color__mhn-bright-blue;
            @include border-radius(2px);
          }
          h2 {
            margin: 0;
            padding: 0 8px 0 2px;
            line-height: 1.7;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            @media screen and (min-width: 350px) {
              font-size: 18px;
            }
          }
        }
      }
      .news {
        margin: 20px 0 0 0;
        width: 100%;
        &:first-child {
          margin: 0;
        }
        a {
          display: block;
          text-decoration: none;
          color: inherit;
          img {
            width: 100%;
            display: block;
          }
          header {
            margin-top: 5px;
            h2 {
              margin: 0;
              font-size: 12px;
              text-transform: capitalize;
              color: $color__mhn-bright-blue;
              @media screen and (min-width: 350px) {
                font-size: 14px;
              }
              @media screen and (min-width: 1300px) {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
.template-page {
  >.row-2 {

  }
}
.template-sites {
  >.row-2 {
    >.column-1 {
      width: 100%;
      @media screen and (min-width: 900px) {
        width: 60%;
        padding: 0 6% 0 0;
        float: left;
      }
      >.row-1 {

      }
      >.row-2 {
        margin-top: 20px;
        @media screen and (min-width: $tabwidth) {
          margin-top: 30px;
        }
        img {
          display: block;
        }
      }
    }
    > .column-2 {
      width: 100%;
      background-color: $color__mhn-bright-blue;
      color: white;
      margin: 20px 0 0 0;
      @media screen and (min-width: 900px) {
        margin: 0;
        width: 40%;
        float: right;
      }
      a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 30px 20px;
        @media screen and (min-width: 900px) {
          padding: 50px 30px;
        }
        > .wrapper {
          @include flexbox;
          @include flexbox-align-content(center);
          @include flexbox-align-items(center);
          @include flexbox-justify(center);
          @include flexbox-wrap(nowrap);
          > .column-1 {
            @include flexbox-flex(0, 1, auto);
            padding: 0 40px 0 0;
            font-weight: 500;
            font-size: 20px;
            text-transform: capitalize;
          }
          > .column-2 {
            @include flexbox-flex(0, 0, auto);
            font-size: 80px;
            line-height:1;
          }
        }
      }
    }
  }
}